<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/app.css">
    <title>Start</title>
</head>
<body>
    <h1>Let's play Boggle!</h1>
    <br>
    <br>
    <p>
        <form action="/set-up" method="POST">
            <button id="begin">Begin</button>
        </form>
    </p>
    
</body>
<script src="http://unpkg.com/jquery"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/static/app.js"></script>
</html>